*{margin: 0; padding: 0; text-decoration: none; color: inherit; list-style: none; border: none; outline: 0;}

@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

/* font-family: 'Fredoka One', cursive; */